<h1>This is the list <%= @list.name %></h1>
<br >

<% @list.movies.each do |movie| %>
  <h3><%= movie.title %></h3>
  <p><%= movie.overview %></p>
<% end %>

<br >
<br >
<h5>Add movies to this list:</h5>

<%= link_to "Add a movie to this list !", new_list_bookmark_path(@list) %>
